In [1]:
import pandas as pd
import numpy as np

In [2]:
# After importing the relevant libraries, i.e., Pandas and Numpy, use Pandas CSV fubtion to read reade the CSV.
budget_df = pd.read_csv("Resources/budget_data.csv")

In [3]:
# Confirm data is readable 
budget_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
# Calculate the total amount column
total_months = len(budget_df["Date"])

In [5]:
# Calculate the grand total
grand_total = budget_df["Profit/Losses"].sum()

In [6]:
# Loop thru the data as part of the get the sums and the terms for the average average
tmp_avg=[]
for i in range (85):
    avg=budget_df["Profit/Losses"][i+1]-budget_df["Profit/Losses"][i]
    tmp_avg.append(avg)

In [10]:
# Average operation
avg_proft = sum(tmp_avg)/len(tmp_avg)

In [11]:
#Using Pandas one dimensional arrays call Series to create a Diff column to grab rows by index or by name
budget_df['Diff'] = budget_df['Profit/Losses'] - budget_df['Profit/Losses'].shift(1)

In [12]:
# Find the date with the greatest change
X=budget_df["Date"][budget_df["Diff"].argmax()]

In [13]:
# Find the amount with the greatest change
Y=budget_df["Diff"][budget_df["Diff"].argmax()]

In [14]:
# Find the date with lowest or negative change
A=budget_df["Date"][budget_df["Diff"].argmin()]

In [15]:
# Find the amount matching the lowest or negative change
B=budget_df["Diff"][budget_df["Diff"].argmin()]

In [16]:
# Print the output
print("Total Months:{}".format(total_months))
print("Total:${}".format(grand_total))
print("Average Change ${}".format(avg_proft))
print("Greatest Increase in Profits:{},(${})".format(X,Y))
print("Greatest Decrease in Profits: {}, (${})".format(A,B))

Total Months:86
Total:$38382578
Average Change $-2315.1176470588234
Greatest Increase in Profits:Feb-2012,($1926159.0)
Greatest Decrease in Profits: Sep-2013, ($-2196167.0)