In [14]:
import pandas as pd
import numpy as np

After importing the relevant libraries, i.e., Pandas and Numpy,
use Pandas CSV fubtion to read reade the CSV.

In [15]:
data=pd.read_csv("budget_data.csv")

In [16]:
data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [17]:
T=len(data["Date"])

In [18]:
Total=data["Profit/Losses"].sum()

In [19]:
Average=[]
for i in range (85):
    avg=data["Profit/Losses"][i+1]-data["Profit/Losses"][i]
    Average.append(avg)

In [20]:
AverageProfit=sum(Average)/len(Average)

In [28]:
data['Diff'] = data['Profit/Losses'] - data['Profit/Losses'].shift(1)
type(data['Profit/Losses'])

pandas.core.series.Series

In [22]:
X=data["Date"][data["Diff"].argmax()]

In [23]:
Y=data["Diff"][data["Diff"].argmax()]

In [24]:
A=data["Date"][data["Diff"].argmin()]

In [25]:
B=data["Diff"][data["Diff"].argmin()]

In [13]:
print("Total Months:{}".format(T))
print("Total:${}".format(Total))
print("Average Change ${}".format(AverageProfit))
print("Greatest Increase in Profits:{},(${})".format(X,Y))
print("Greatest Decrease in Profits: {}, (${})".format(A,B))

Total Months:86
Total:$38382578
Average Change $-2315.1176470588234
Greatest Increase in Profits:Feb-2012,($1926159.0)
Greatest Decrease in Profits: Sep-2013, ($-2196167.0)